[submodule "external/PGUtils"]
	path = external/PGUtils
	url = https://github.com/PGZXB/PGUtils.git
[submodule "external/ConcurrentQueue"]
	path = external/ConcurrentQueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "external/ThreadPool"]
	path = external/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
